body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    top: 80px;
    background-color: #0D0D0D;
}
nav {
    background-color: #0D0D0D;
    color: white;
    text-align: center;
    width: calc(100% - 40px);
    padding: 1em 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
}
nav img {
    max-width: 80px;
    height: auto;
}
nav.hidden {
    transform: translateY(-100%);
    opacity: 0;
}
section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff; /* 하얀색 배경으로 변경 */
}
section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}
#head {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    /* color: #4A51D9; */
}ext {
    color: #666;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul #joinus {
    background-color: #0583F2;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
#joinus:hover {
    background-color: #4A51D9;
}
#organizers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.organizer-card {
    flex: 1;
    margin: 10px;
    max-width: calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.organizer-card img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.organizer-card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #4A51D9;
}
.organizer-card p {
    color: #666;
}
/* 작은 화면(예: 태블릿 또는 모바일 기기)에 대한 미디어 쿼리 추가 */
@media (max-width: 600px) {
    section {
        width: calc(100% - 40px) outo;
        margin: 20px; /* 섹션 간 간격 조절 및 중앙 정렬 */
    }
    #organizers {
        flex-direction: column;
        align-items: center;
    }
    .organizer-card {
        max-width: 100%;
    }
}
footer {
    background-color: #0D0D0D;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: auto;
}